@model Diiezer2._0.Models.vmAlbumInformation


<h2>Details</h2>

<div class="row">

        <h4>@Model.nom</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                Artiste : @Html.ActionLink(Model.artiste, "../Artiste/Details", new { id = Model.idArtiste })                
            </dd>
            <dd>
                Nombre de musiques : @Model.nombre
            </dd>
            <dd>
                Durée : 
                @{ var duree = (Model.duree / 60).ToString() + " min " + (Model.duree % 60).ToString();}
                @duree
            </dd>
            <dd>
                Style : @Model.genre
            </dd>
        </dl>
        <hr />
        <hr />
        <h4>Musiques</h4>
        <hr />
</div>

<div class="container">
    <div class="row grey-box">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            @{
                foreach (var item in Model.chansons)
                {
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <h5>@Html.ActionLink(item.titre, "../Chanson/Details", new { id = item.idChanson })</h5>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <h5>

<!-- item.musique peut être l'extrait ou la musique complète-->

                                <audio src=@item.musique controls style="width: 250px; "></audio>

                            </h5>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">                            
                            @{ 
                                if (item.isExtract && User.Identity.IsAuthenticated)
                                {
                                    <h5>Acheter la musique complète @item.note</h5>
                                } else if (item.isExtract)
                                {
                                    <h5>Extrait</h5>
                                }
                                else
                                {
                                    <a href=@item.musique download>Télécherger @item.note</a>
                                }
                            }
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            @{
                                for (int i = 0; i < 5; i++)
                                {
                                    if (i < item.note)
                                    {
                                        <img src="~/Content/img/fullstar.jpg" style="width:15px;height:15px;">
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/emptystar.jpg" style="width:15px;height:15px;">
                                    }
                                }
                            }
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("Soumettre", "Note"))
                                {
                                    <input type="hidden" name="idAlbum" value="@item.idAlbum" />
                                    <input type="hidden" name="idMusique" value="@item.idChanson" />

                                    <select name="note" >

                                        @for (int i = 0; i < 6; i++)
                                        {
                                            if (i == item.note)
                                            {
                                                <option value=@i selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option value=@i>@i</option>
                                            }
                                        }
                                    </select>
                                    <input type="submit" value="Noter" />
                                }
                            }
                            
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src=@Model.cover style="width:250px;height:250px;">
        </div>
    </div>

</div>



<p>
    @Html.ActionLink("Retourner à la liste des albums", "Index2")
</p>