@model Diiezer2._0.Models.vmAlbumInformation
@{
    ViewBag.Title = "Album";
}


    <div class="row">
        <hr />
        <h4>@Model.nom</h4>
        <hr />
    </div>

<div class="container red-box">
    <div class="row" style="padding-top : 1%; padding-bottom : 1%">
        <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3 col-xl-3">
            <img src=@Model.cover class="img-responsive">
        </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <table class="table table-responsive table-hover table-bordered border0 prez-album">
                            <tr>
                                <td>Artiste</td>
                                <td>@Html.ActionLink(Model.artiste, "../Artiste/Details", new { id = Model.idArtiste })</td>
                            </tr>
                            <tr>
                                <td>Nombre de musiques</td>
                                <td>@Model.nombre</td>
                            </tr>
                            <tr>
                                <td>Durée</td>
                                <td>
                                    @{ var duree = (Model.duree / 60).ToString() + " min " + (Model.duree % 60).ToString();}
                                    @duree
                                </td>
                            </tr>
                            <tr>
                                <td>Style</td>
                                <td>@Model.genre</td>
                            </tr>
                            <tr>
                                <td>Date de sortie</td>
                                <td>@Model.date</td>
                            </tr>
                            <tr>
                                <td>Note</td>
                                <td>
                                    @{
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < Model.note)
                                            {
                                                <img src="~/Content/img/FullStar2.png" style="width:10%;height:auto">
                                            }
                                            else
                                            {
                                                <img src="~/Content/img/EmptyStar2.png" style="width:10%;height:auto">
                                            }
                                        }
                                    }
                                </td>                
                            </tr>
                            <tr>
                                <td>
                                    Prix
                                </td>
                                <td>
                                    <p>@Model.prix &euro;</p>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    @{
                        var s = "Ajouter " + Model.nom + " au panier ?";
                        var confirm = "return confirm(" + "\'" + s + "\'" + ");"  ;
                        @Html.ActionLink("Ajouter l'Album au panier", "../Panier/AjoutAlbumPanier", new { idAlbum = Model.id }, new { onclick = confirm, @class = "btn btn-info btn-long" })
                    }
                    
                </div>
            </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6 colGauche">
                <button type="button" id="buttonList" class="btn btn-default" style="width:100%" onclick="afficherListeChanson(@Model.id)">Liste des chansons</button>
            </div>
            <div class="col-md-6 colDroite">
                <button type="button" id="buttonEcouter" class="btn btn-default active ecouterBtn" style="width:100%" onclick="ecouterAlbum(@Model.id)">Ecouter l'album</button>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-6">
            <button type="button" id="buttonList" class="btn btn-default" style="width:100%" onclick="afficherListeChanson(@Model.id)">Liste des chansons</button>
        </div>
        <div class="col-md-6">
            <button type="button" id="buttonEcouter" class="btn btn-default active" style="width:100%" onclick="ecouterAlbum(@Model.id)" >Ecouter l'album</button>
        </div>
    </div>
    <hr />*@
    <div id="contenu">
        @{
            Html.RenderPartial("partialLecteur", Model);
        }
    </div>
    

    <p>
        @Html.ActionLink("Retourner à la liste des albums", "Index2")
    </p>

</div>

<a id="lienNote" href="/../Note/Noter" data-ajax-update="#note1" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>
<a id="lienContenu" href="/../Note/Noter" data-ajax-update="#contenu" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>




