@model Diiezer2._0.Models.vmChansonInformation

@{
    ViewBag.Title = "Chanson";
}

<h2>Details</h2>

<div class="red-box container">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>@Model.titre</h4>
        </div>
        <div class="col-md-6">
            <audio src=@Model.musique controls style="margin-top:10px"></audio>
        </div>
    </div>
    <hr />
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover table-bordered border0 prez-album">
                <tr>
                    <td>Titre</td>
                    <td>@Model.titre</td>
                </tr>
                <tr>
                    <td>Album</td>
                    <td>@Html.ActionLink(Model.album, "../Album/Details", new { id = Model.idAlbum })</td>
                </tr>
                <tr>
                    <td>Artiste</td>
                    <td>@Html.ActionLink(Model.artiste, "../Artiste/Details", new { id = Model.idArtiste })</td>
                </tr>
                <tr>
                    <td>Durée</td>
                    <td>
                        @{ var duree = (Model.durée / 60).ToString() + " min " + (Model.durée % 60).ToString();}
                        @duree
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @{
                if (Request.IsAuthenticated)
                {
                    if (Model.isInPanier)
                    {
                        <button type="button" class="btn btn-default btn-danger">Dans le Panier</button>
                    }
                    else if (Model.isExtract)
                    {
                        var s = "Ajouter " + Model.titre + " au panier ? ";
                        var confirm = "return confirm(" + "\'" + s + "\'" + ");";
                        @Html.ActionLink("Ajouter au panier", "../Panier/AjoutChansonPanier", new { idChanson = Model.idChanson, url = "../Chanson/Details/" + Model.idChanson }, new { onclick = confirm, @class = "btn btn-info btn-achat", @style = "margin-top:0px" });
                    }
                    else
                    {
                        <button type="button" class="btn btn-info btn-achat" style="margin-top:0px">Morceau acheté</button>
                    }
                }

            }
        </div>
    </div>
    <hr style="border:0px" />
    <div class="row">
        <div class="col-md-12">
            <h4>Commentaires</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Commenter", "Commentaire", new { @class = "form-horizontal" }))
                {
                    <input type="hidden" name="url" value="../Chanson/Details/@Model.idChanson" />
                    <input type="hidden" name="idMusique" value="@Model.idChanson" />
                    <div class="form-group">
                        <div class="col-md-8">
                            <textarea rows="4" name="comment" class="form-control comment-box" maxlength="200"></textarea>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Publier" class="btn btn-default"/>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
    @{
        int compteur = 0;
        foreach (var item in Model.commentaires)
        {
            compteur++;
            var id= "comment" + compteur.ToString();
            <div id=@id>
                @{
                    Html.RenderAction("partialComment", "Commentaire", new { comment = item, idbox = compteur});
                }
            </div>
        }
    }
</div>

<a id="lien" href="/Commentaire/partialEditComm" data-ajax-update="#comment1" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    function editComm(idbox, idcom)
    {
        $('#lien').attr('data-ajax-update', '#comment'+idbox);
        $('#lien').attr('href', '/Commentaire/partialEditComm?idCommentaire='+idcom+'&&idbox='+idbox);
        $('#lien').click();
    }
    function saveEditCom(idbox, idcom) {
        $('#lien').attr('data-ajax-update', '#comment' + idbox);
        $('#lien').attr('href', '/Commentaire/SaveCommentChanges?idCommentaire=' + idcom + '&&idbox=' + idbox + '&&text=' + document.getElementById('commentEditBox').innerText);
        $('#lien').click();
    }
</script>


