@model Diiezer2._0.Models.vmChansonInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="grey-box">
    <h4>Chanson</h4>
    <hr />
    <audio src=@Model.musique controls></audio>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Titre : 
            @Html.ActionLink(Model.titre, "Details", new { id = Model.idChanson })
        </dd>
        <dd>
            Album : 
            @Html.ActionLink(Model.album, "../Album/Details", new { id = Model.idAlbum })
        </dd>
        <dd>
            Artiste : 
            @Html.ActionLink(Model.artiste, "../Artiste/Details", new { id = Model.idArtiste })
        </dd>
        <dd>
            Durée :
            @{ var duree = (Model.durée / 60).ToString() + " min " + (Model.durée % 60).ToString();}
            @duree
        </dd>
        <dd>
            note : 
            @{
                for (int i = 0; i < 5; i++)
                {
                    if (i < Model.note)
                    {
                        <img src="~/Content/img/fullstar.jpg" style="width:15px;height:15px;">
                    }
                    else
                    {
                        <img src="~/Content/img/emptystar.jpg" style="width:15px;height:15px;">
                    }
                }
            }
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Soumettre", "Note"))
                {
                    <input type="hidden" name="url" value="../Chanson/Details/@Model.idChanson" />
                    <input type="hidden" name="idMusique" value="@Model.idChanson" />

                    <select name="note">

                        @for (int i = 0; i < 6; i++)
                        {
                            if (i == Model.note)
                            {
                                <option value=@i selected="selected">@i</option>
                            }
                            else
                            {
                                <option value=@i>@i</option>
                            }
                        }
                    </select>
                    <input type="submit" value="Noter" />
                }
            }
        </dd>
        @{
            if (Model.isExtract && User.Identity.IsAuthenticated)
            {
                <dd>@Html.ActionLink("Acheter ..", "../Achat/AcheterChanson", new { idChanson = Model.idChanson })</dd>
            } else if (User.Identity.IsAuthenticated)
            {
                <dd>Morceaux acheté</dd>
            }
        }

    </dl>
</div>

<div class="grey-box">
    <dl class="dl-horizontal">
        <dd>  
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Commenter", "Chanson"))
                {
                    <input type="hidden" name="url" value="../Chanson/Details/@Model.idChanson" />
                    <input type="hidden" name="idMusique" value="@Model.idChanson" />
                    <textarea rows="4" cols="50" name="comment">
                        Ecrivez votre commentaire ...
                    </textarea>

                    <input type="submit" value="Commenter" />
                }
            }
        </dd>
    </dl>  
    <h4>Commentaires</h4>
    <hr />
    @{
        foreach (var item in Model.commentaires)
        {
            <hr />
            <h8>@item.Texte</h8>
        }
    }      
</div>


 
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
