
@model IEnumerable<Diiezer2._0.Models.vmChansonInformation>

@{
    ViewBag.Title = "IndexPartial";
}

<table class="table grey-box table-bordered border0 table-striped">
    <tr>
        <th>
            @Html.ActionLink("Titre", "../" + HttpContext.Current.Request.Url.AbsolutePath, new { tri = "titre" })
        </th>
        <th>
            @Html.ActionLink("Durée", "../" + HttpContext.Current.Request.Url.AbsolutePath, new { tri = "duree" })
        </th>
        <th>
            @Html.ActionLink("Artiste", "../" + HttpContext.Current.Request.Url.AbsolutePath, new { tri = "artiste" })
        </th>
        <th>
            @Html.ActionLink("Album", "../" + HttpContext.Current.Request.Url.AbsolutePath, new { tri = "album" })
        </th>
        <th>
            @Html.ActionLink("Note", "../" + HttpContext.Current.Request.Url.AbsolutePath, new { tri = "note" })
        </th>
        <th>
            @Html.ActionLink("Prix", "../"+HttpContext.Current.Request.Url.AbsolutePath, new { tri = "prix" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Chanson/Details/@item.idChanson">@item.titre</a>
            </td>
            <td>
                @{ var duree = (item.durée / 60).ToString() + " min " + (item.durée % 60).ToString();}
                @duree
            </td>
            <td>
                @Html.ActionLink(item.artiste, "../Artiste/Details", new { id = item.idArtiste })
            </td>
            <td>
                @Html.ActionLink(item.album, "../Album/Details", new { id = item.idAlbum })
            </td>
            <td class="small-td">

                @if (Request.IsAuthenticated)
                {
                    int j;
                    for (int i = 0; i < 5; i++)
                    {
                        j = i + 1;
                        if (i < item.note)
                        {
                            <a href="../Note/Noter?idMusique=@item.idChanson&&note=@j&&url=@HttpContext.Current.Request.Url.AbsoluteUri">
                                <img src="~/Content/img/fullstar2.png" style="width:15%;height:auto;">
                            </a>
                        }
                        else
                        {
                            <a href="../Note/Noter?idMusique=@item.idChanson&&note=@j&&url=@HttpContext.Current.Request.Url.AbsoluteUri">
                                <img src="~/Content/img/emptystar2.png" style="width:15%;height:auto;">
                            </a>
                        }
                    }
                }
                else
                {
                    int j;
                    for (int i = 0; i < 5; i++)
                    {
                        j = i + 1;
                        if (i < item.note)
                        {
                            <img src="~/Content/img/fullstar2.png" style="width:15%;height:auto;">
                        }
                        else
                        {
                            <img src="~/Content/img/emptystar2.png" style="width:15%;height:auto;">
                        }
                    }
                }
            </td>
            <td class="small-td">
                @{
                    if (item.isExtract)
                    {
                        <p>@item.prix &euro; </p>
                    }
                    else
                    {
                        <a href=@item.musique download>
                            <img src="~/Content/img/download.png" class="img-responsive btn-dl">
                        </a>
                    }
                }
            </td>

        </tr>
                    }

</table>