@model IEnumerable<Diiezer2._0.Models.vmChansonInformation>

@{
    ViewBag.Title = "Index";
}


<h2>Page @ViewBag.page</h2>

<table class="table grey-box">
    <tr>
        <th>
            Titre
        </th>
        <th>
            Durée
        </th>
        <th>
            Artiste
        </th>
        <th>
            Album
        </th>
        <th>
            Note
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.titre, "Details", new { id = item.idChanson })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.durée)
        </td>
        <td>
            @Html.ActionLink(item.artiste, "../Artiste/Details", new { id = item.idArtiste })
        </td>
        <td>
            @Html.ActionLink(item.album, "../Album/Details", new { id = item.idAlbum })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
    </tr>
}

</table>


<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="/Chanson/Index/@ViewBag.precedente">&laquo;</a>  
            </li>
            @for (int i = 1; i <= ViewBag.nbPage; i++)
            {
                <li class="active">
                    <a href="/Chanson/Index/@i">@i</a>
                </li>
            }        

            <li>
                <a href="/Chanson/Index/@ViewBag.suivante">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->