<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diiezer - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Diiezer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="nouveautees"> <a href="~/Home/Nouveautees">Nouveautés</a></li>
                    <li id="lesmieuxnotees"><a href="~/Home/LesMieuxNotees">Mieux Notées</a></li>
                    <li class="dropdown" id="toutelamusique">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Toute votre musique <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Artistes", "Index2", "Artiste")</li>
                            <li>@Html.ActionLink("Albums", "Index", "Album")</li>
                            <li>@Html.ActionLink("Chansons", "Index", "Chanson")</li>
                            @if (Request.IsAuthenticated)
                            {
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Mes Achats", "MesAchats", "Achat")</li>
                            }   
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Favoris</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" name="form1" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="critere">
                    </div>
                    <input type="button" class="btn btn-default" onclick="document.form1.action = '/Research/QuickSearch'; document.form1.submit();" value="Rechercher" />
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li id="panier"><a href="/Panier/MonPanier">Mon Panier</a></li>
                    <li>@Html.ActionLink("Recherche avancée", "Begin", "Research")</li>
                    <li class="dropdown">


                        @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Mon Compte", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Identification <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            </ul>
                        }                       
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Diiezer.NET Application, sponsored by and sponsoring Bethesda and The Elder Scrolls Online</p>
        </footer>
    </div>

    <script type="text/javascript">
    function noter(idC, note) {
        alert('Merci d\'avoir voté !');
        var idnote = 'note' + idC;
        $('#lienNote').attr('href', '/../Note/Noter?idMusique=' + idC + '&&note=' + note);
        $('#lienNote').attr('data-ajax-update', '#' + idnote);
        $('#lienNote').click();
    }
    function afficherListeChanson(id)
    {
        $('#lienContenu').attr('href', '/Album/partialListeChanson?id=' + id);
        $('#lienContenu').click();
        $('#buttonList').attr('class', 'btn btn-default active listBtn');
        $('#buttonEcouter').attr('class', 'btn btn-default');
    }
    function ecouterAlbum(id)
    {
        $('#lienContenu').attr('href', '/Album/partialEcouterAlbum?id=' + id);
        $('#lienContenu').click();
        $('#buttonList').attr('class', 'btn btn-default');
        $('#buttonEcouter').attr('class', 'btn btn-default active ecouterBtn');
    }
        //ajouterPanier est dans indexPartial
    function acheter(idChanson, titre)
    {
        var conf = 'Ajouter ' + titre + ' au panier ? ';
        if (confirm(conf)) {
            $('#ajouterPanier').attr('href', '../Panier/partialAjouterChansonPanier?idChanson=' + idChanson);
            $('#ajouterPanier').attr('data-ajax-update', '#idBtnPanier' + idChanson);
            $('#ajouterPanier').click();
        }
    }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
